@import url("./styles/skyBackground.css");
@import url("styles/container.css");
@import url("./styles/mediaQueries.css");
:root {
  --box-shadow: 21px 18px 36px -21px rgba(0, 0, 0, 0.75);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Krona One", serif;
}

.hidden{
    display: none;
}